@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  img {
    width: 10rem;
  }
  nav {
    display: flex;
    gap: 3rem;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

header,
nav {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  h1 {
    font-size: xx-large;
  }
}

aside {
  img {
    width: 40%;
    float: right;
  }
}

.input-main-article1 {
  height: 600px;
  margin: 2rem;
  form input {
    width: 15%;
    padding: 0.6rem;
    margin: 0.5rem;
  }
  button {
    padding: 0.6rem 3rem;
    background-color: rgb(47, 101, 249);
    color: #fff;
    border-style: none;
    border-radius: 3px;
  }
}

.bacground-svgimages {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productive-article2 {
  background-color: rgb(249, 248, 254);
  padding: 2rem;
  height: 600px;
  a {
    color: rgb(127, 187, 181);
  }
  h2 {
    margin-top: 0;
  }
}

.kyle-div {
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 2px 4px rgba(124, 124, 124, 0.5);
  width: 30%;
  padding: 1rem;
}

.kyle-img {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
  img {
    width: 10%;
    border-radius: 100%;
  }
}

span {
  color: rgb(111, 108, 126);
}

.early-article3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(87, 89, 137);
  color: white;
  padding: 2rem;
  h3 {
    font-size: xx-large;
  }
}

.form-article3 {
  margin-right: 10rem;
  input {
    width: 100%;
    padding: 1rem 2rem;
  }
  button {
    background-color: rgb(47, 101, 249);
    border-style: none;
    padding: 0.5rem;
    color: #fff;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(7, 4, 59);
  color: #fff;
  padding-top: 5rem;
  padding: 2rem;
  img {
    width: 15%;
  }
}

.ul-phone {
  list-style-image: url(images/icon-phone.svg);
}

.ul-email {
  list-style-image: url(images/icon-email.svg);
}

ul {
  list-style: none;
}

.social-media {
  width: 20%;
}
